*{
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 16px;
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 16px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: 16px;
  }
@font-face{
    font-family: 'Montserrat-ExtraLight';
    src: url(./../font/Montserrat-ExtraLight.otf);
}
body{
    background-color: #666;
    font-weight: 700;
    background-image: url(./../img/timg.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    font-family: 'Montserrat-ExtraLight';
}
.head{
    position: relative;
    width: 1200px;
    height: 742.5px;
    margin: 0 auto;
}
.head img {
    width: 100%;
    height: 100%;
}
.head::after { 
position: absolute;
content: '';
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.4);
} 
.head section{
    z-index: 1;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.head h4{
    font-size: 46.5px;
    /* font-weight: 300; */
    color: white;
}
.head section p{
    width:  calc(712px*1200/1600);
    height: calc(113px*1200/1600);
    font-size: calc(20px*1200/1600);
    color: #d0d0cf;
    margin: 0 auto;
    text-align: center;
}
.head section .account{
    display: flex;
    width: calc(872px*1200/1600);
    height: calc(228px*1200/1600);
    border: 1px solid #595652;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.head section .account .title h5{
    /* font-weight: 300; */
    color: #fff;
    font-size: calc(16px*1200/1600);
}
.head section .account .title h6{
    /* font-weight: 300; */
    color: #777368;
    font-size: calc(12px*1200/1600);
    text-align: center;
}
.head section .account form {
    display: flex;
    height: calc(54px*1200/1600);
    width: calc(770px*1200/1600);
    justify-content: space-between;
    align-items: center;
}
.head section .account form input[type="text"]{
    outline: none;
    height: 100%;
    background-color: transparent;
    width: calc(290px*1200/1600);
    border: 1px solid #59554f;
    color:#59554f;
    padding-left: calc(20px*1200/1600);
    font-size: calc(14px*1200/1600);
    font-weight: 700;
    transition: all .4s;
}
.head section .account form input[type="text"]:focus{
    color: #fff;
}
.head section .account form input[type="submit"]{
    width: calc(130px*1200/1600);
    height: calc(50px*1200/1600);
    font-size: calc(14px*1200/1600);
    font-weight: 700;
}
.show{
    display: flex;
    width: 1200px;
    height: 720px;
    background-color: #fff;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.show  h4{
    font-size: calc(14px*1200/1600);
}
.show >p{
    width: calc(730px*1200/1600);
    height: calc(110px*1200/1600);
    font-size: calc(42px*1200/1600);
    text-align: center;
}
.show .bar{
    display: flex;
    width: 887.75px;
    height: calc(340px*1200/1600);
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-end;
}
.show .bar .box{
    display: flex;
    vertical-align: bottom;
    width: 50%;
    height: 50%;
    flex-direction: row;
    justify-content: flex-end;
}
.show .bar .box .iconfont{
    font-size: 30px;
}
.show .bar .box .desc{
    margin-left: 10px;
    width: 80%;
}
.show .bar .box .desc h4{
    font-size: calc(20px*1200/1600);
}
.show .bar .box .desc p{
    font-size: calc(16px*1200/1600);
    color:#797979;
}
.support::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
.support{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.support img{
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.support section{
    position: absolute;
    height: calc(460px*1200/1600);
    left: calc(315px*1200/1600);
    top: calc(185px*1200/1600);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.support section p{
    width: calc(460px*1200/1600);
}
.support section p:first-child{
    font-size: calc(42px*1200/1600);
    color: #fff;
}
.support section p:nth-child(2){
    font-size: calc(18px*1200/1600);
    color:#a6aaa2;
}
.support section .box{
    display: flex;
    width: calc(500px*1200/1600);
    height: calc(65px*1200/1600);
}
.support section .box a{
    width: calc(240px*1200/1600);
    height: calc(65px*1200/1600);
    line-height: calc(65px*1200/1600);
    text-decoration: none;
    color: #fff;
    font-size: calc(12px*1200/1600);
    text-align: center;
    border: 1px solid #6e756f;
    transition: all .3s;
}
.support section .box a:hover{
    color: #000;
    background-color: #fff;
}
.support img:last-child{
    vertical-align: center;
    width: calc(645px*1200/1600);
    height: calc(600px*1200/1600);
    position: absolute;
    top: calc(90px);
    right: 0;
}
.try{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: calc(580px*1200/1600);
    background-color: #fff;
    margin: 0 auto;
    /* border-bottom: 1px solid #e7e7e7; */
}
/* 1030 523 */
/* .try section{
    width: calc(1030px*1200/1600);
    height: calc(523px*1200/1600);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}*/
.try h5{
    font-size: calc(42px*1200/1600);
    text-align: center;
} 
.try .box{
    display: flex;
    width: calc(1100px*1200/1600);
    height: calc(390px*1200/1600);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.try .box .items{
    text-align: center;
    font-size: calc(16px*1200/1600);
    margin: 0 50px;
}
.photos{
    display: flex;
    width: 1200px;
    height: calc(1000px*1200/1600);
    background-color: #fff;
    margin: 0 auto;
    /* border: 1px solid #e7e7e7; */
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    justify-content: center;
    align-items: center;
}
/* 1000 782 */
.photos .main{
    display: flex;
    width: calc(1000px*1200/1600);
    height: calc(782px*1200/1600);
    flex-direction: column;
    justify-content: space-around;
}
.photos .main section{
    display: flex;
    justify-content: space-between;
}
.photos .main section .ph{
    flex: 5;
}
.photos .main section:nth-child(1) .box{
    margin-left: 50px;
}
.photos .main section .box h4{
    font-size: 20px;
}
.photos .main section .box p{
    margin-top: 20px;
    font-size: 14px;
    color: #797979;
}
.photos .main section:nth-child(2) .box{
    margin-right: 50px;
    order: -1;
}
.photos .main section .box{
    flex: 3;
}
.photos .main section img{
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.awesome{
    width: 1200px;
    height: calc(1000px*1200/1600);
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid #e7e7e7;
}
.awesome .box{
    margin-top: calc(80px*1200/1600);
    margin-bottom: calc(60px*1200/1600);
    text-align: center;
}
.awesome .box h4{
    font-size: 42px;
    margin-bottom: calc(10px*1200/1600);
}
.awesome .box p{
    color: #5a5a5a;
    width: 800px;
    margin: 0 auto;
}
.awesome .show_photo{
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.awesome .show_photo div{
    position: relative;
    float: left;
    width: 390px;
    height: 220px;
}
.awesome .show_photo div:hover .mask{
    display: block;
}
.awesome .show_photo img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.awesome .show_photo>div .mask{
    cursor: pointer;
    position: absolute;
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.awesome .show_photo>div .mask h4{
    margin-top: 70px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.awesome .show_photo>div .mask p{
    text-align: center;
    font-size: 14px;
    color: #adadad;
}
.awesome .show_photo>div .mask .box{
    position: absolute;
    left: 50%;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    /* margin: 0 auto; */
    margin-left: -100px;
}
.awesome .show_photo>div .mask .box a{
    text-decoration: none;
}
.awesome .show_photo>div .mask .box div{
    margin: 0;
    height: 100%;
    width: 40px;
    border: 1px solid #797979;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.awesome .show_photo>div .mask .box >div:nth-child(1),
.awesome .show_photo>div .mask .box >div:nth-child(2){
    margin-right: 37px !important;
}
.awesome .show_photo>div .mask .box div i{
    font-size: 34px;
    color: #fff;
}
.awesome .show_photo div:nth-child(1),.awesome .show_photo div:nth-child(3){
    margin-right: 20px;
}
.awesome .show_photo div:nth-child(2),.awesome .show_photo div:nth-child(4){
    margin-bottom: 20px;
}
.comment{
    width: 1200px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}
.comment .main{
    width: 800px;
    height: 400px;
    margin: 50px auto 0;
    /* background-color: pink; */
}
.comment .main .write{
    float: left;
    width: 48%;
    height: 100%;
}
.comment .main .contacts{
    float: left;
    width: 40%;
    height: 100%;
    padding: 30px 0 0 70px;
}
.comment .main .contacts h4{
    font-size: 42px;
    margin-bottom: 10px;
}
.comment .main .contacts p{
    font-size: 14px;
    color: #797979;
    margin-bottom: 30px;
}
.comment .main .contacts div{
    position: relative;
    display: flex;
    font-weight: 300;
    margin-bottom: 10px;
}
.comment .main .contacts div:nth-of-type(1) span{
    position: absolute;
    top: -4px;
    left: 34px;
}
.comment .main .contacts div:nth-of-type(2) span{
    position: absolute;
    top: 2px;
    left: 35px;
}
.comment .main .contacts div:nth-of-type(3) span{
    position: absolute;
    top: 3px;
    left: 37px;
}
.comment .main .contacts .iconfont{
    font-size: 25px;
}
.comment .main .write{
    border: 2px solid #d4d3d3;
    border-radius: 5px;
    flex-direction: column;
}
.comment .main .write .inner{
    width: 340px;
    height: 100%;
    margin: 0 auto;
    /* background-color: red; */
    overflow: hidden;
}
.comment .main .write .inner >p{
    margin: 30px 0;
    text-align: center;
}
.comment .main .write .inner input{
    outline: none;
    display: block;
    width: 340px;
    margin-bottom: 10px;
}
.comment .main .write .inner textarea,.comment .main .write .inner input[type="text"]{
    padding-left: 10px;
    width: 326px;
}
.comment .main .write .inner input[type="text"]{
    height: 40px;
}

.comment .main .write .inner textarea{
    outline: none;
    height: 150px;
    width: 326px;
    resize: none;
    margin-bottom: 10px;
    padding-top: 10px;
}
.comment .main .write .inner input[type="submit"]{
    border: 0;
    width: 100%;
    height: 30px;
    border-radius:0;
    color: #fff;
    background-color: black;
}
.end{
    width: 1200px;
    height: calc(400px*1200/1600);
    background-color: #000;
    margin: 0 auto;
}
.end .main{
    width: 1000px;
    height: 100%;
    /* background-color: #bfc; */
    margin: 0 auto;
}
.end .main dl{
    float: left;
    margin-top: 71px;
    margin-right: 107px;
}
.end .main dl:last-child{
    width: 300px;
    margin-right: 0;
}
.end .main dl dt{
    margin-bottom: 10px;
    color: #d6d6d6;
    font-size: 14px;
}
.end .main dl dd{
    margin-bottom: 10px;
    color: #676767;
    font-size: 16px;

}

.end .main dl dd a{
    color: #676767;
    text-decoration: none;
}